<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699944425891-055l40sg3m8igm9m434l5a5f9lmd4a3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699944425891-055l40sg3m8igm9m434l5a5f9lmd4a3c</string>
	<key>API_KEY</key>
	<string>AIzaSyCfF0im8HAEzW6_iWN69v8jxDOGIFa0XcA</string>
	<key>GCM_SENDER_ID</key>
	<string>699944425891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.route.movie.movieApp</string>
	<key>PROJECT_ID</key>
	<string>movies-app-55ef3</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-app-55ef3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699944425891:ios:1c5d117b465dab498a2216</string>
</dict>
</plist>